/* CSS style */

body{
    
width: 375px;
background-color: hsl(230, 100%, 99%);
font-family:'Manrope', sans-serif;
background: url('../images/bg-pattern.svg');
background-repeat: no-repeat;
background-size: 100%;


}

.container{
    border: 2px solid red;
    min-height: 90vh;
    text-align: center;
    background-color: hsl(230, 100%, 99%);
}